@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: hsl(202, 96%, 30%);
}

#calculator {
	border: 5px solid hsl(250, 96%, 10%);
	background-color: hsl(250, 96%, 10%);
	color: antiquewhite;
	width: 40ch;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.display-screen {
	text-align: right;
	background-color: hsl(250, 7%, 35%);
	border: 2px solid hsl(250, 96%, 10%);
	font-size: 1.625rem;
	line-height: 1.625rem;
	font-family: 'VT323', monospace;
	padding: 0.325rem;
	height: 1.625rem;
	overflow-y: hidden;
	overflow-x: scroll;
	scrollbar-width: thin;
	scrollbar-color: hsl(14, 96%, 30%) hsl(202, 96%, 30%);
}

.display-screen::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: hsl(202, 96%, 30%);
}

.display-screen::-webkit-scrollbar-thumb {
	background-color: hsl(14, 96%, 30%);
}

.calc-btn-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.btn {
	padding: 1.5rem;
	font-size: 1.625rem;
	line-height: 1.625rem;
	font-family: 'VT323', monospace;
	border: 2px solid hsl(250, 96%, 10%);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease;
}

.btn.pressed {
	transform: scale(1.1);
}

.numeric-btn {
	background-color: hsl(229, 96%, 90%);
	color: hsl(250, 96%, 10%);
	box-shadow: inset 0 0 5px hsl(229, 96%, 100%);
}

.calc-btn {
	background-color: hsl(229, 96%, 30%);
	color: hsl(229, 96%, 95%);
	box-shadow: inset 0 0 5px hsl(229, 96%, 45%);
}

.control-btn {
	background-color: hsl(14, 96%, 30%);
	color: hsl(229, 96%, 95%);
	box-shadow: inset 0 0 5px hsl(14, 96%, 45%);
}

#clear, #equals {
	grid-column: span 2;
}


.btn:hover {
	border-color: white;
}
